## Python Homework 2 - Week 2 
### Shahin Mammadov

In [1]:
import numpy as np

1. Create a vector with values ranging from 15 to 55 and print all values except the first and last.

In [4]:
vec = np.arange(15, 56)
vec[1:-1]

array([16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32,
       33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
       50, 51, 52, 53, 54])

2. Create a 3X4 array using np.full().

In [5]:
vec = np.full((3, 4), 1)
vec

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

3. Create a 3x3 matrix filled with values from 10 to 18. Use np.arange() and np.reshape().

In [10]:
vec = np.arange(10, 19)
vec = vec.reshape((3,3))
vec

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

4. Create a 5x5 zero matrix with elements on the main diagonal equal to 1, 2, 3, 4, 5 using np.diag().

In [13]:
vec = np.diag([1, 2, 3, 4, 5])
vec

array([[1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0],
       [0, 0, 0, 0, 5]])

5. Create a null vector of size 10 using np.zeros() and update sixth value to 11.

In [15]:
vec = np.zeros(10)
vec[5] = 11
vec

array([ 0.,  0.,  0.,  0.,  0., 11.,  0.,  0.,  0.,  0.])

6. Convert an array to a float type using np.asfarray().

In [19]:
temp = np.asfarray([1,2,3,4])
type(temp[0])

array([1., 2., 3., 4.])

7. Swap columns in a given array. Such as:

In [22]:
vec = np.arange(0, 12)
vec = vec.reshape(3, 4)
flipped = np.fliplr(vec)

flipped

array([[ 3,  2,  1,  0],
       [ 7,  6,  5,  4],
       [11, 10,  9,  8]])

8. Capitalize the first letter, lowercase, uppercase, swapcase, title-case of all the elements of a given array. Use np.char.capitalize(), np.char.lower(), np.char.upper(), np.char.swapcase(), np.char.title().

In [28]:
vec = np.array(["Shahin", "emil", "Ramil", "cavid"])
vec = np.char.capitalize(vec)
print(vec)
vec = np.char.lower(vec)
print(vec)
vec = np.char.upper(vec)
print(vec)
vec = np.char.swapcase(vec)
print(vec)
vec = np.char.title(vec)
print(vec)

['Shahin' 'Emil' 'Ramil' 'Cavid']
['shahin' 'emil' 'ramil' 'cavid']
['SHAHIN' 'EMIL' 'RAMIL' 'CAVID']
['shahin' 'emil' 'ramil' 'cavid']
['Shahin' 'Emil' 'Ramil' 'Cavid']

9. Get the dates of yesterday, today and tomorrow using np.datetime64() and np.timedelta64().

In [30]:
yesterday = np.datetime64('today', 'D') - np.timedelta64(1, 'D')
print(yesterday)

today = np.datetime64('today', 'D')
print(today)

tomorrow  = np.datetime64('today', 'D') + np.timedelta64(1, 'D')
print(tomorrow)

2022-08-15
2022-08-16
2022-08-17

10.Append values to the end of an array using np.append().

In [35]:
vec = np.array([10, 20, 30])
vec = np.append(vec, np.array([40, 50, 60, 70, 80, 90]))
vec

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

Disclaimer: You have been given the ‘cars.xlsx’ excel dataset. This dataset contains
new released car models between 1999 and 2008. Please run the code given below to
use it:

In [44]:
import pandas as pd
cars = pd.read_excel('cars.xlsx')

In [45]:
cars

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18.0,29.0,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21.0,29.0,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20.0,31.0,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21.0,30.0,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16.0,26.0,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19.0,28.0,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21.0,29.0,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16.0,26.0,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18.0,26.0,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17.0,26.0,p,midsize

1. Show relationship between highway and city miles per gallon. \
    a. Use scatter in matplotlib.

In [47]:
city_mpg = cars["cty"].tolist()
highway_mpg = cars["hwy"].tolist()

highway_mpg

[29.0,
 29.0,
 31.0,
 30.0,
 26.0,
 26.0,
 27.0,
 26.0,
 25.0,
 28.0,
 27.0,
 25.0,
 25.0,
 nan,
 nan,
 24.0,
 25.0,
 23.0,
 20.0,
 15.0,
 20.0,
 17.0,
 17.0,
 26.0,
 23.0,
 26.0,
 25.0,
 24.0,
 19.0,
 14.0,
 15.0,
 17.0,
 27.0,
 30.0,
 26.0,
 29.0,
 26.0,
 24.0,
 24.0,
 22.0,
 22.0,
 24.0,
 24.0,
 17.0,
 22.0,
 21.0,
 23.0,
 nan,
 19.0,
 18.0,
 17.0,
 17.0,
 19.0,
 19.0,
 12.0,
 17.0,
 15.0,
 17.0,
 17.0,
 12.0,
 17.0,
 16.0,
 18.0,
 15.0,
 16.0,
 12.0,
 17.0,
 17.0,
 16.0,
 12.0,
 15.0,
 16.0,
 17.0,
 15.0,
 17.0,
 17.0,
 18.0,
 17.0,
 19.0,
 17.0,
 19.0,
 19.0,
 17.0,
 nan,
 nan,
 nan,
 16.0,
 17.0,
 15.0,
 17.0,
 26.0,
 25.0,
 26.0,
 24.0,
 21.0,
 22.0,
 23.0,
 22.0,
 20.0,
 33.0,
 32.0,
 32.0,
 29.0,
 32.0,
 34.0,
 36.0,
 36.0,
 29.0,
 26.0,
 27.0,
 30.0,
 31.0,
 26.0,
 26.0,
 28.0,
 26.0,
 29.0,
 28.0,
 27.0,
 24.0,
 24.0,
 24.0,
 22.0,
 19.0,
 20.0,
 17.0,
 12.0,
 19.0,
 18.0,
 14.0,
 15.0,
 18.0,
 18.0,
 15.0,
 17.0,
 16.0,
 18.0,
 17.0,
 19.0,
 19.0,
 17.0,
 29.0,
 27.0,
 31.0,
 32.0,
 27.0,
 26.0,
 26.0,
 25.0,
 25.0,
 17.0,
 17.0,
 20.0,
 18.0,
 26.0,
 26.0,
 27.0,
 28.0,
 25.0,
 25.0,
 24.0,
 27.0,
 25.0,
 26.0,
 23.0,
 26.0,
 26.0,
 26.0,
 26.0,
 25.0,
 27.0,
 25.0,
 27.0,
 20.0,
 20.0,
 19.0,
 17.0,
 20.0,
 17.0,
 29.0,
 27.0,
 31.0,
 31.0,
 26.0,
 26.0,
 28.0,
 27.0,
 29.0,
 31.0,
 31.0,
 26.0,
 26.0,
 27.0,
 30.0,
 33.0,
 35.0,
 37.0,
 35.0,
 15.0,
 18.0,
 20.0,
 20.0,
 22.0,
 17.0,
 19.0,
 18.0,
 20.0,
 29.0,
 26.0,
 29.0,
 29.0,
 24.0,
 44.0,
 29.0,
 26.0,
 29.0,
 29.0,
 29.0,
 29.0,
 23.0,
 24.0,
 44.0,
 41.0,
 29.0,
 26.0,
 28.0,
 29.0,
 29.0,
 29.0,
 28.0,
 29.0,
 26.0,
 26.0,
 26.0]