## Python Day 1 HW - Shahin Mammadov

1. Print first 10 natural numbers using for loop.

In [2]:
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

2. Display -10 to -1 using for loop.

In [4]:
for x in range(-10, -0):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

3. Write python program that prints all the numbers from 0 to 6 except 3 and 6.

In [6]:
for x in range(0, 7):
    if x != 3 and x != 6:
        print(x)

0
1
2
4
5

4. Calculate the sum of all number between 1 and 11.

In [10]:
sum(range(1, 112))

6216

5. Reverse the following list using for loop.

In [12]:
list1 = [10, 20, 30, 40, 50]
for x in list1[::-1]:
    print(x)

50
40
30
20
10

6. Write a python program to find those numbers which are divisible by 7 and 5, between 1500 and 2700.

In [14]:
for x in range(1500, 2701):
    if x%5==0 and x%7==0:
        print(x)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

7. Display message Done after successful execution of for loop.

In [15]:
for x in range(0, 2):
    print("Done")

Done
Done

8. Write a Python program to create a lambda function that adds 15 to a given number passed in
as an argument, also create a lambda function that multiplies argument x with argument y and
print the result.

In [17]:
add = lambda x: print(x+15)
add(5)

multiply = lambda x,y: print(x*y)
multiply(2, 3)

20
6

9. Write a Python program to square and cube every number in a given list of integers using
Lambda.

In [30]:
integer_list = [1, 2, 3, 4, 5]

square_nums = list(map(lambda x: x ** 2, integer_list))
cube_nums = list(map(lambda x: x ** 3, integer_list))

square_nums

[1, 4, 9, 16, 25]

In [31]:
cube_nums

[1, 8, 27, 64, 125]

10. Write a lambda function that returns takes x as parameter and returns x+2. Then assign it to a variable named L.

In [34]:
L = lambda x: x+2

test = L(2)
test

4

11. Write a function which takes two arguments: a and b and returns the multiplication of them: a*b. Assign it to a variable named f.

In [37]:
def mult(a,b):
    return a*b

f = mult(2, 3)
f

6

12. Write a Python program to add two given lists using map and lambda.

In [41]:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]

total = list(map(lambda x, y: x + y, list_1, list_2))

total

[5, 7, 9]

13. Write a map function that adds plus 5 to each item in the list.

In [43]:
add = list(map(lambda x: x+5, list_1))

add

[6, 7, 8]

14. Write a map function that adds "Hello, " in front of each item in the list.

In [44]:
add = list(map(lambda x: "Hello, " + str(x), list_1))

add

['Hello, 1', 'Hello, 2', 'Hello, 3']

15. Using map() function and len() function create a list that's consisted of lengths of each element in the first list.

In [46]:
temp_list = ["Shahin", "Emil", "Ramil"]

new_list = list(map(lambda x: len(x), temp_list))

new_list

[6, 4, 5]

16. Using map() function and lambda add each elements of two lists together. Use a lambda with two arguments.

In [50]:
list_1 = [5, 6, 7]
list_2 = [10, 15, 20]

add = list(map(lambda x, y: x+y, list_1, list_2))

add

[15, 21, 27]

17. Using map() , lambda and count() functions create a list consisted of the number of occurrence of letter: a.

In [51]:
num_occurence = list(map(lambda x: x.count('a'), temp_list))
num_occurence

[1, 0, 1]

18. Using map(), lambda and count() functions create a list consisted of the number of occurrence of both letters: A and a.

In [54]:
new_list = ['Astara', 'Amerika', 'Alma']
num_occurence = list(map(lambda x: x.lower().count('a'), new_list))
num_occurence

[3, 2, 2]

19. Using filter() function filter the list so that only negative numbers are left.

In [55]:
filter_list = [2, 5, -2, -1, 6, -34]

negative_list = list(filter(lambda x: x < 0, filter_list))
negative_list

[-2, -1, -34]

20. Using filter function, filter the even numbers so that only odd numbers are passed to the new list.

In [57]:
odd_list = list(filter(lambda x: x%2!=0, filter_list))
odd_list

[5, -1]

21. Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [60]:
string = "Amerika"
vowels = list(filter(lambda x: True if x.lower() in "aeiou" else False, string))
vowels

['A', 'e', 'i', 'a']

22. This time using filter() and list() functions filter all the positive integers in the string.

In [61]:
string = "Amerika1974"
integers = list(filter(lambda x: True if x.lower() in "0123456789" else False, string))
integers

['1', '9', '7', '4']

23. Using map() and filter() functions add 2000 to the values below 8000.

In [65]:
temp = [1000, 2000, 1500, 2500]

add = list(map(lambda x: x + 2000, filter(lambda x: x < 8000, temp)))
add

[3000, 4000, 3500, 4500]

24. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [69]:
temp = [4, 2, 5, 6, 23, 45, 12, 45, 1]

count_odd = len(list(filter(lambda x: True if x%2!=0 else False, temp)))
count_even = len(list(filter(lambda x: True if x%2==0 else False, temp)))

25.Write a Python program to filter a given list whether the values in the list are having length of 6 using Lambda.

In [70]:
new_list = ['Astara', 'Amerika', 'Alma']

check = list(filter(lambda x: len(x)==6, new_list))
check

['Astara']

26. Write a Python program to find numbers divisible by nineteen or thirteen from a list of numbers using Lambda.

In [77]:
temp = [4, 2, 5, 6, 23, 45, 12, 45, 1, 38, 26]
div = list(filter(lambda x: True if x%19==0 or x%13==0 else False, temp))
div

[38, 26]

27. Using zip() function and list() function, create a merged list of tuples from the two lists given.

In [84]:
tuple_1 = (1, 2, 3)
tuple_2 = ('Shahin', 'Emil', 'Ramil')

merge = tuple(zip(tuple_1, tuple_2))
merge

((1, 'Shahin'), (2, 'Emil'), (3, 'Ramil'))

28. First create a range from 1 to 8. Then using zip, merge the given list and the range together to create a new list of tuples.

In [87]:
cars = ['Porsche', 'Mercedes', 'BMW', 'Kia', 'Hyundai', 'Toyota', 'Volkswagen', 'Cadillac']

merge = tuple(zip(cars, range(1, 9)))
merge

(('Porsche', 1),
 ('Mercedes', 2),
 ('BMW', 3),
 ('Kia', 4),
 ('Hyundai', 5),
 ('Toyota', 6),
 ('Volkswagen', 7),
 ('Cadillac', 8))

29. Using zip and dict functions create a dictionary which has its key-value pairs coming from lst1 and lst2.

In [88]:
lst1 = [1, 2, 3]
lst2 = ['Shahin', 'Emil', 'Ramil']
merge = dict(zip(lst1, lst2))
merge

{1: 'Shahin', 2: 'Emil', 3: 'Ramil'}

30. Using zip, list and sorted functions create a sorted list of tuples from lst1 and lst2.

In [91]:
sort = sorted(list(zip(lst1, lst2)))
sort

[(1, 'Shahin'), (2, 'Emil'), (3, 'Ramil')]

In [97]:
test = list(filter(lambda x: x+3, lst1))
test

[1, 2, 3]