In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("train (1).csv")

In [4]:
df

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,train_199995,0,11.4880,-0.4956,8.2622,3.5142,10.3404,11.6081,5.6709,15.1516,...,6.1415,13.2305,3.9901,0.9388,18.0249,-1.7939,2.1661,8.5326,16.6660,-17.8661
199996,train_199996,0,4.9149,-2.4484,16.7052,6.6345,8.3096,-10.5628,5.8802,21.5940,...,4.9611,4.6549,0.6998,1.8341,22.2717,1.7337,-2.1651,6.7419,15.9054,0.3388
199997,train_199997,0,11.2232,-5.0518,10.5127,5.6456,9.3410,-5.4086,4.5555,21.5571,...,4.0651,5.4414,3.1032,4.8793,23.5311,-1.5736,1.2832,8.7155,13.8329,4.1995
199998,train_199998,0,9.7148,-8.6098,13.6104,5.7930,12.5173,0.5339,6.0479,17.0152,...,2.6840,8.6587,2.7337,11.1178,20.4158,-0.0786,6.7980,10.0342,15.5289,-13.9001
199999,train_199999,0,10.8762,-5.7105,12.1183,8.0328,11.5577,0.3488,5.2839,15.2058,...,8.9842,1.6893,0.1276,0.3766,15.2101,-2.4907,-2.2342,8.1857,12.1284,0.1385

In [5]:
df.head(7)

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
5,train_5,0,11.4763,-2.3182,12.6080,8.6264,10.9621,3.5609,4.5322,15.2255,...,-6.3068,6.6025,5.2912,0.4403,14.9452,1.0314,-3.6241,9.7670,12.5809,-4.7602
6,train_6,0,11.8091,-0.0832,9.3494,4.2916,11.1355,-8.0198,6.1961,12.0771,...,8.7830,6.4521,3.5325,0.1777,18.3314,0.5845,9.1104,9.1143,10.8869,-3.2097

In [10]:
df.isnull().values.any()

False

In [11]:
df.groupby("target").mean()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
target,,,,,,,,,,,,,,,,,,,,,
0,10.626681,-1.695770,10.665876,6.788979,11.072412,-5.146736,5.389620,16.549306,0.262347,7.584907,...,3.149130,7.39080,1.949017,3.355403,18.017716,-0.155601,2.260297,8.919032,15.924058,-3.415273
1,11.156418,-1.017613,11.156633,6.864113,11.131337,-4.336522,5.581966,16.514917,0.479432,7.409064,...,3.998064,7.86456,1.738266,3.120260,17.779568,-0.021130,2.688583,8.810815,15.393283,-2.532243

In [12]:
df.groupby("target").count()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
target,,,,,,,,,,,,,,,,,,,,,
0,179902,179902,179902,179902,179902,179902,179902,179902,179902,179902,...,179902,179902,179902,179902,179902,179902,179902,179902,179902,179902
1,20098,20098,20098,20098,20098,20098,20098,20098,20098,20098,...,20098,20098,20098,20098,20098,20098,20098,20098,20098,20098

In [13]:
df = df.drop('ID_code', axis=1)

In [20]:
df.describe()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [21]:
df['var_0'].mean()

10.67991425200015

In [28]:
test = df[(df['var_0'] >= df['var_0'].min()) & (df['var_0'] <= df['var_0'].mean())]

test.sort_values(by=['var_0'])

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
165885,0,0.4084,-2.3580,6.4101,6.3512,11.6226,2.3006,4.3739,19.5745,6.5962,...,1.6410,8.2690,2.2166,4.5286,16.0699,-0.4181,-3.5543,7.3749,13.1001,-16.6303
131672,1,0.4528,-8.9672,8.5680,9.9903,9.6665,-5.9784,6.8417,15.1417,-1.2559,...,8.4732,7.3606,-0.3074,3.7587,14.5545,1.3796,4.9518,9.4264,14.4396,11.4881
10693,0,0.5979,-0.7717,8.4321,7.1216,11.0864,-11.1819,7.2443,15.5612,-4.9687,...,-3.2289,10.3603,2.2347,1.6486,17.3712,-3.6116,0.4931,10.1748,15.7862,-6.9688
61234,0,0.8935,-1.1103,12.9898,4.0356,10.5848,-15.5852,4.1182,23.7974,3.2112,...,2.8518,6.2990,0.5955,-0.0631,17.2324,1.5028,10.4704,8.2172,20.5543,4.8313
64498,0,0.9302,-4.0585,10.4719,4.2685,10.5250,-3.7847,6.4496,19.1617,3.3177,...,-3.7415,4.6446,2.4373,4.0081,19.2551,-1.2743,4.5405,8.9674,16.4645,-6.3841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37979,0,10.6798,-4.2074,8.9397,3.8974,9.0702,1.1311,5.5586,17.5933,2.3972,...,1.7152,10.1455,0.2975,7.2307,19.5250,-1.8702,-7.6714,7.5510,15.3914,12.5474
179832,0,10.6799,4.8487,10.1602,10.4766,12.5674,2.2659,4.5503,13.7826,-1.6241,...,0.3801,7.8387,0.5672,2.3798,20.7071,0.2744,-0.9356,9.7837,12.8946,8.6077
35948,0,10.6799,-0.3459,12.6793,6.8503,10.7112,-6.9216,6.3919,12.9111,-3.1356,...,5.4539,8.9193,1.9628,7.4310,21.3891,1.1891,6.6117,7.7872,7.9344,-16.7199
40929,0,10.6799,-2.7908,6.8680,6.3788,12.0287,-14.5467,6.2888,13.5528,2.8460,...,-2.1098,5.3253,-0.4613,-0.6327,21.1619,-0.7627,8.4699,9.7136,12.9367,-3.6433
160423,0,10.6799,4.3507,7.7910,5.3931,14.1099,-8.5624,5.7504,21.4144,-1.4329,...,-6.4528,9.8111,0.8466,-1.8977,16.6818,0.7151,-2.0639,7.3256,15.6688,-9.1237

In [31]:
df[(df.var_6>5) & (df.var_196<2)]

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
11,0,12.7188,-7.9750,10.3757,9.0101,12.8570,-12.0852,5.6464,11.8370,1.2953,...,-0.8901,2.6559,-0.0503,5.5946,13.6152,2.4058,-1.7183,9.6745,16.7498,-3.9728
14,0,13.8080,5.0514,17.2611,8.5120,12.8517,-9.1622,5.7327,21.0517,-4.5117,...,1.0740,8.3220,3.2619,1.6738,17.4797,-0.0257,-3.5323,9.3439,24.4479,-5.1110
16,0,5.0615,0.2689,15.1325,3.6587,13.5276,-6.5477,5.2757,9.8710,2.5569,...,0.2717,7.2854,0.5670,8.1822,19.5616,0.4365,-3.4975,8.6367,20.2548,11.1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199990,1,14.1475,1.8568,11.0066,3.6779,12.1944,-16.5936,5.3217,14.8508,3.3377,...,-6.4708,4.7287,1.9034,7.2324,20.6047,1.7170,-4.0032,9.1627,13.8077,-1.9646
199991,0,9.9909,2.5523,11.9653,6.3958,13.5497,-9.5293,6.0864,14.1789,-2.1245,...,12.0737,5.2139,0.8094,-0.6585,17.0548,0.5328,-5.3444,8.5414,13.2895,-6.7896
199994,0,12.3925,-5.8821,11.2323,3.9237,10.4509,10.7262,7.0503,18.6968,-0.4976,...,1.3911,6.8687,3.7788,6.3378,14.4656,-1.4843,-3.9299,9.1164,16.3170,-7.5048
199996,0,4.9149,-2.4484,16.7052,6.6345,8.3096,-10.5628,5.8802,21.5940,-3.6797,...,4.9611,4.6549,0.6998,1.8341,22.2717,1.7337,-2.1651,6.7419,15.9054,0.3388
199999,0,10.8762,-5.7105,12.1183,8.0328,11.5577,0.3488,5.2839,15.2058,-0.4541,...,8.9842,1.6893,0.1276,0.3766,15.2101,-2.4907,-2.2342,8.1857,12.1284,0.1385

In [40]:
df.iloc[20000:30000, 10]

20000    6.2325
20001    5.4199
20002    8.5767
20003    6.0312
20004    6.8624
          ...
29995    9.0503
29996    5.9313
29997    8.9955
29998    7.6509
29999    6.4558
Name: var_9, Length: 10000, dtype: float64

In [41]:
features = list(df.columns[1:11])

In [47]:
data = df[features].corr().abs()

In [51]:
data.unstack().sort_values(ascending=False)[10::2].head(10)

var_6  var_0    0.006983
var_0  var_2    0.006573
var_6  var_9    0.005697
var_5  var_9    0.005279
var_8  var_0    0.004962
var_4  var_7    0.004549
var_1  var_8    0.004098
var_2  var_1    0.003980
var_3  var_0    0.003801
       var_8    0.003553
dtype: float64

In [52]:
from scipy import stats

In [53]:
data1 = df.apply(stats.zscore).abs()

In [54]:
data1

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0.33424,0.577102,1.273737,0.451707,0.833709,0.235571,0.536430,0.334926,0.608751,1.561580,...,0.263374,1.149158,0.817469,0.411013,0.168705,1.578117,1.022131,0.373968,1.026398,0.214135
1,0.33424,0.269959,0.622138,1.190360,0.688846,0.790975,1.539900,0.244461,0.003525,0.858974,...,0.966611,0.093605,0.443623,1.908764,0.817594,1.522342,1.067654,0.129400,0.825417,0.505685
2,0.33424,0.681113,0.276066,0.516988,0.536516,0.305477,0.511033,1.769839,0.564749,1.561370,...,0.072093,0.777997,0.174131,0.412316,1.151591,2.297370,1.617906,0.695141,0.381449,0.356681
3,0.33424,0.125158,0.129426,0.667575,0.195355,0.927992,0.410672,0.500633,0.474201,1.843910,...,0.270216,0.891456,0.818468,0.478548,1.607869,0.789517,0.959020,1.501744,0.697118,0.543502
4,0.33424,0.277303,0.035610,0.817683,0.077829,0.738607,0.955574,0.613372,0.791544,1.794753,...,1.036191,0.688988,1.405987,1.468536,1.501101,0.958473,0.297627,0.645537,0.706318,0.525375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0.33424,0.265814,0.279509,0.928851,1.606375,0.454632,2.120424,0.302273,0.407906,0.271576,...,0.637526,1.915840,1.394910,0.599439,0.009925,1.155623,0.025161,0.407496,0.264130,1.392947
199996,0.33424,1.896359,0.202660,2.268180,0.079297,1.705783,0.699136,0.543790,1.476902,1.189411,...,0.378661,0.920696,0.830643,0.375167,1.364499,1.312319,0.819242,2.350481,0.011518,0.351154
199997,0.33424,0.178710,0.845469,0.076676,0.563266,1.070350,0.043657,0.984818,1.466106,0.049199,...,0.182166,0.660547,0.795012,0.387655,1.766202,1.001499,0.187031,0.209042,0.676806,0.721024
199998,0.33424,0.317467,1.723980,1.096301,0.491128,0.886530,0.712074,0.737304,0.137314,0.743186,...,0.120713,0.403634,0.545083,1.950397,0.772535,0.044417,0.824051,1.221803,0.113526,1.012989
199999,0.33424,0.064567,1.008110,0.531302,0.605032,0.295332,0.688535,0.144297,0.392049,0.221526,...,1.260937,1.901623,1.217678,0.740270,0.887894,1.643111,0.831910,0.783897,1.242908,0.331964

In [58]:
(data1<3).all(axis=1)

0          True
1         False
2          True
3          True
4          True
          ...
199995     True
199996     True
199997     True
199998     True
199999     True
Length: 200000, dtype: bool