## Python Day 1 HW - Shahin Mammadov

1. Create variable age equal to 32 and check its type.

In [4]:
age = 32
type(age)

int

2. Create variable height equal to 1.85 and check its type.

In [5]:
height = 1.85
type(height)

float

3. Create variables name and surname. Define them as 'your_name' and 'your_surname'

In [7]:
your_name = 'Shahin'
your_surname = 'Mammadov'

4. Sum up name and surname variables. Define as ID.

In [9]:
ID = your_name + your_surname

5. Use indexing. Find last letter of 'your_name'.

In [10]:
your_name[0]

'S'

6. Use slicing. Find 2nd and 3rd letters of 'your_surname'.

In [12]:
your_surname[1:3]

'am'

7. Create list as new_list. Include 3 4 5 6 7 integers.

In [22]:
new_list = [3, 4, 5, 6, 7]

8. Remove 5 from new_list.

In [24]:
new_list.remove(5)
new_list

[3, 4, 6, 7]

9. Delete 2nd value of new_list

In [25]:
del new_list[1]
new_list

[3, 6, 7]

10. Create tuple as new_tuple. Include 3 4 5 6 7 integers.

In [26]:
new_tuple = (3, 4, 5, 6, 7)

11. Change 4 in new_tuple to 8.

In [27]:
new_tuple[1] = 8
new_tuple

TypeError: 'tuple' object does not support item assignment

As seen above, tuple is immutable so the values can not be changed. There is a workaround, where we can convert the tuple into a list, change the value and convert it back to tuple, as seen below.

In [28]:
temp = list(new_tuple)
temp[1] = 8
new_tuple = tuple(temp)
new_tuple

(3, 8, 5, 6, 7)